@import url('https://fonts.googleapis.com/css?family=Muli');
h1 {
    margin: 0;
    font-size: 1.6em;
    padding: 20px 0px 20px;
}
textarea:focus, input:focus{
    outline: none;
}
ul {
    padding: 0;
}
li {
    margin: 0 auto;
    width: 80%;
    list-style: none;
    font-size: 1.4em;
    text-transform: capitalize;
}
p {
    margin: 0;
}
body {
    margin: 0;
    font-family: 'Muli', sans-serif;
    height: 100vh;
    background: linear-gradient(135deg, #D56BE0, #A9DCFF);
    box-sizing: border-box;
    padding-top: 12vh;
}
.date {
    color: #8554FF;
    font-style: italic;
    font-size: 1em;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: .6px solid rgba(93, 93, 93, 0.267);
}
.form {
    position: relative;
    margin: 0 auto;
    max-width: 380px;
    min-height: 70vh;
    text-align: center;
    border-radius: 14px;
    background: white;
    box-sizing: border-box;
    box-shadow: 2px 10px 30px 6px rgba(93, 93, 93, 0.267);
    padding: 0px 0px 80px;
}
.lbl {
    position: absolute;
    border: none;
    /* background: #ececec; */
    color: rgb(83, 83, 83);
    font-weight: bold;
    height: 2rem;
    width: 10rem;
    padding: 0;
    line-height: 1;
    text-transform: capitalize;
    text-align: center;
    bottom: 3rem;
    font-size: 1em;
    left: calc(50% - 5rem);
}
.btn {
    position: absolute;
    color: white;
    border: none;
    background: #6A43CB;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    bottom: -2rem;
    font-size: 3em;
    left: calc(50% - 2rem);
}
.btn:hover {
    cursor: pointer;
    transition: .5s;
    background: rgb(92, 57, 180);
}